<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/app.css" type="text/css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Andrew Mead and it uses Mapbox and Darksky api to fetch the data.</p>
        <img src="img/dennis.jpg" class="potrait">
        <p>Created by {{name}}</p>
    </div>
    {{>footer}}
</body>
</html>