<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/app.css" type="text/css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Get Help By {{name}}</p>
    </div>
    {{>footer}}
</body>
</html>